chardet==2.3.0
defer==1.0.6
distro-info===0.14ubuntu0.2
future==0.18.2
iso8601==1.0.2
language-selector==0.1
lightdm-gtk-greeter-settings==1.2.1
lxml==3.5.0
pep8==1.7.0
pycups==1.9.73
pycurl==7.43.0
pyflakes==1.1.0
pygobject==3.20.0
pyserial==3.5
python-apt==1.1.0b1+ubuntu0.16.4.12
python-debian==0.1.27
python-systemd==231
PyYAML==6.0
requests==2.9.1
scapy==2.4.5
serial==0.0.97
six==1.10.0
ssh-import-id==5.5
ubuntu-advantage-tools==27.6
ubuntu-drivers-common==0.0.0
ufw==0.35
urllib3==1.13.1
usb-creator==0.3.0
xkit==0.0.0
